/*
    Használt színek:
        English Violet      #574D68
        Chamoisee           #A38560
        Satin sheen gold    #C6A15B
        Maize               #F2E86D
        Tea green           #D3DFB8
*/
:root{
    --english-violet: #574D68;
    --chamoisee: #A38560;
    --satin-sheen-gold: #C6A15B;
    --Maize: #F2E86D;
    --tea-green: #D3DFB8;
}

body{
    background-color: var(--tea-green);
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    
}