:root{
    --bgc:beige;
}

html{
    height: 100%;
}
body{
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: var(--bgc);
    color: black;
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box;
}
h1{
    margin: 0 0 20px 0;
    text-align: center;
}
p{
    margin: 0 0 20px 0;
}
a:any-link{
    color: #51A3F5;
}
.content{
    padding: 20px;
    margin: auto;
    display: block;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
    align-items: center;
}
.option{
    transition-duration: 0.5s;
    padding: 20px;
    margin: auto;
    display: inline-block;
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
}
.clickable {
    cursor: pointer;
}
.option:hover{
    background-color: beige;
    transition-duration: 0.5s;
}
.footer{
    grid-row-start: 2;
    grid-row-end: 3;
    background: #2F3061;
    color: white;
    padding: 20px;
    text-align: center;
}